<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard Admin Template by Tooplate.com</title>
    <!--

    Template 2108 Dashboard

	http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="fullcalendar.min.css">
    <!-- https://fullcalendar.io/ -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="tooplate.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body id="reportsPage">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <!-- <a class="navbar-brand" href="/dashboard"> -->
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                            <h1 class="tm-site-title mb-0">Dashboard</h1>
                        <!-- </a> -->
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <!-- <a class="nav-link active" href="/dashboard">Author Details
                                        <span class="sr-only">(current)</span>
                                    </a> -->
                                </li>
                        
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link d-flex" href="/logout">
                                        
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>                 
    </div>
    <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col">
            <div class="bg-white tm-block h-100">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="tm-block-title d-inline-block">Author Details</h2>

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped tm-table-striped-even mt-3">
                        <thead>
                            <tr class="tm-bg-gray">
                                <!-- <th scope="col">&nbsp;</th> -->
                                <th scope="col">ID</th>
                                <th scope="col" class="text-center">Author Name</th>
                                <th scope="col">Email</th>
                                <th scope="col" class="text-center">Password</th>
                                <th scope="col">Mobile Number</th>
                            </tr>
                            </tr>   
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tm-product-name" id="tm-product-name-id" ><%= user.dataValues.id %> </td>
                                <td class="text-center"> <%= user.dataValues.user_name %></td>
                                <td class="text-center"><%= user.dataValues.email %></td>
                                <td class="text-center"><%= user.dataValues.password %></td>
                                <td class="text-center"><%= user.dataValues.mobile_number %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
     
    <script src="../public/jquery-3.3.1.min.js"></script>
    <script src="../public/moment.min.js"></script>
    <script src="../public/utils.js"></script>
    <script src="../public/Chart.min.js"></script>
    <script src="../public/fullcalendar.min.js"></script>
    <script src="../public/bootstrap.min.js"></script>
    <script src="../public/tooplate-scripts.js"></script>
    <script>
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            updateChartOptions();
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart
            drawCalendar(); // Calendar

            $(window).resize(function () {
                updateChartOptions();
                updateLineChart();
                updateBarChart();
                reloadPage();
            });
        })
    </script>
</body>
</html>